@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
  p, body {
    font-family: 'Raleway', sans-serif;
}
/*------------ RESPONSIVE TEXT ------------ */
html { font-size: .6rem; }

@media (min-width: 576px) {
    html { font-size: .75rem; }
}
@media (min-width: 768px) {
    html { font-size: .75rem; }
}
@media (min-width: 992px) {
    html { font-size: 1rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1rem; }
}
/* Navbar container */
.header-top{
    background-color: rgba(92, 49, 128, 0.863);
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
}
.navbar-brand{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 40px;
    color: white;
}

body{
    background-color: white;
}
.nav-link{
    color: white;
}
.navbar-toggler{
    text-align: center;
    color: white;
}

/* These hide an ugly box when the dropdown menu is in mobile. */
.dropdown-divider{
    display: none;
}
.dropdown-menu{
    background-color: rgba(92, 49, 128, 0);
    border: 0px solid transparent;

}
@media (min-width: 920px) {
    .dropdown-menu{
        background-color: rgb(43, 9, 63);
    }
}
.dropdown-item{
    color: white;
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(161, 161, 161, 0.466);
  color: white;
}
/*--------------HOME STYLING SECTION--------------*/
.home-title{
    text-align: center;
    padding-top: .5em;
    margin-bottom: 0;
}
#home-header{
    text-align: center;
    background-color: rgba(128, 107, 179, 0.753);
    color: rgba(240, 237, 237, 0.918);
    margin-bottom: 4%;
}
#home-header-border{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid rgba(92, 49, 128, 0.863);
}
#home-description{
    margin-bottom: 0;
    padding-bottom: 1em;
}
.home-intro{
    text-align: center;
}

.home-photo{
    border-radius: 25px;
    border: 2px solid black;
    max-width: 60%;
    height: auto;
}
@media (min-width: 920px) {
    .home-photo{
        max-width: 25%;
    }
}
.home-paragraph{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
}
.home-languages{
    margin-bottom: 2em;
}
.home-languages-title{
    margin-bottom: 6px;
}
.home-languages-border{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid rgba(128, 107, 179, 0.753)
}
.home-languages-languages{
    font-size: 2rem;
}
/*--------------RESUME STYLING SECTION--------------*/

.res-body{
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
}
@media only screen and (min-width: 768px) {
    .res-body {
      margin-left: 20%;
      margin-right: 20%;
    }
  }
.res-title{
    text-align: center;
}
.res-contact-info{
    padding-top: .5em;
    text-align: center;
}
.res-contact-info p{
    margin-bottom: 0;
}

.res-objective{
    margin-top: 20px;
    
}
.res-place{
    text-align: center;
    margin-top: 1em;
}
.res-place-title{
    text-align: center;
    margin-top: .3em;
}
.res-place-date{
    border-bottom: 1px solid black;
    padding-bottom: .5em;
    text-align: center;
}
.res-h3{
    text-align:center;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: lightgray
}
.res-download-links{
    text-align: center;
    margin-bottom: 1em;
}
#res-download-title{
    margin-bottom: 0;
}
.res-body ul{
    padding-left: 2em;
}


/*--------------PROJECTS STYLING SECTION--------------*/
.projects-title{
    text-align: center;
    padding-top: .5em;
    margin-bottom: .1em;
}
#projects-header{
    text-align: center;
    background-color: rgba(128, 107, 179, 0.753);
    color: rgba(240, 237, 237, 0.918);
    margin-bottom: 2%;
}
#projects-header-border{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid rgba(92, 49, 128, 0.863);
    margin-bottom: .5em;
}
#projects-description{
    margin-bottom: 0;
    padding-bottom: 1em;
}
.projects-note{
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    font-size: 50%;
}
.projects{
    margin-top: 1em;
}
.row{
    margin: auto;
}

.thumbnail{
    border-radius: 25px;
    margin-left: 1em;
    margin-right: 1em;
    border: 2px solid black;
    margin-bottom: 1em;
    background-color: rgba(230, 230, 230, 0.863);
    overflow: hidden;
}
.caption{
    text-align: center;
    padding-bottom: .5em;
    color: rgba(92, 49, 128, 0.863)
}
.caption p{
    margin-bottom: 0;
    border-top: 2px solid black;
}
.caption-logo{
    width: 20%;
    height: auto;
}

/*--------------MEDIA STYLING SECTION--------------*/

.media-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.media-videos{
    text-align: center;
    margin-top: 30px;
}
.media-button{
    text-align: center;
}
iframe{
    border: 2px black solid;
}
