/*------------ RESPONSIVE TEXT ------------ */
html { font-size: .6rem; }

@media (min-width: 576px) {
    html { font-size: 1rem; }
}
@media (min-width: 768px) {
    html { font-size: 1.25rem; }
}
@media (min-width: 992px) {
    html { font-size: 1.5rem; }
}
@media (min-width: 1200px) {
    html { font-size: 1.5rem; }
}
/* Navbar container */
.navbar {
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
}

body{
    background-color: white;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}
/*--------------HOME STYLING SECTION--------------*/
.home-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10%;
}
.home-paragraph{
    text-align: center;
    margin-top: 4%;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
/*--------------RESUME STYLING SECTION--------------*/

.res-body{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    
}
.res-title{
    text-align: center;
}
.res-contact-info{
    padding-top: 20px;
    text-align: center;
}
.res-objective{
    margin-top: 20px;
    
}
.res-place-title{
    border-bottom: 1px solid black;
}
.res-h2{
    text-align:center;
    margin-top: 10%;
    margin-bottom: 1%;
    background-color: lightgray
}

@media only screen and (min-width: 768px) {
  .res-body {
    margin-left: 30%;
    margin-right: 30%;
  }
}

/*--------------PROJECTS STYLING SECTION--------------*/

#project-title{
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.project-title{
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}
#project-div{
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
    text-align: center;

}
.project{
    width: 400px;
    height: 400px;
    max-width: 100%;
    background-color: red;
    display: inline-block;

}

/*--------------MEDIA STYLING SECTION--------------*/

.media-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.media-videos{
    text-align: center;
    margin-top: 30px;
}
.media-button{
    text-align: center;
}
iframe{
    border: 2px black solid;
}