body{
    margin-left:30%;
    margin-right:30%;
    font-family: Verdana, Geneva, sans-serif;
    background-image: image('ricepaper_v3.png')
}
.title{
    text-align: center;
}
.contact-info {
    text-align: center;
    border: 1px solid #000;
    border-right: none;
    border-left: none;
}
.objective {
    padding-top: 3%;
    margin: auto;
    width: 36em;
    max-width: 100%;
}
.work-history{
    padding-top:3%;
}
.place-title{
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    color:slategrey;
}
.education{
    padding-top: 10px;
}
