/* Navbar container */
.navbar {
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
}

body{
    background-color: white;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}
/*--------------HOME STYLING SECTION--------------*/
.home-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10%;
}
.home-paragraph{
    text-align: center;
    margin-top: 4%;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
/*--------------RESUME STYLING SECTION--------------*/

.res-body{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    
}
.res-title{
    text-align: center;
}
.res-contact-info{
    padding-top: 20px;
    text-align: center;
}
.res-objective{
    margin-top: 20px;
    
}
.res-place-title{
    border-bottom: 1px solid black;
}
.res-h2{
    text-align:center;
    margin-top: 10%;
    margin-bottom: 1%;
    background-color: lightgray
}

@media only screen and (min-width: 768px) {
  .res-body {
    margin-left: 30%;
    margin-right: 30%;
  }
}

/*--------------RESOURCES STYLING SECTION--------------*/

.resource-body{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    text-align:center;
    
}

/*--------------MEDIA STYLING SECTION--------------*/

.media-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.media-videos{
    text-align: center;
    margin-top: 30px;
}
.media-button{
    text-align: center;
}
iframe{
    border: 2px black solid;
}