body{
    margin-left:25%;
    margin-right:25%;
    font-family: Verdana, Geneva, sans-serif;
    background-image: url('footer_lodyas.png');
    color: white;
}
.title{
    text-align: center;
}
.contact-info {
    text-align: center;
    border: 1px solid white;
    border-right: none;
    border-left: none;
}
.objective {
    padding-top: 3%;
    margin: auto;
    width: 40em;
    max-width: 100%;
}
.work-history{
    padding-top:3%;
}
.place-title{
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    color:skyblue;
}
.education{
    padding-top: 10px;
}
.references{
    padding-top: 10px;
}
